*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #313b2f;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
}
button{
    background-color: #effbb1;
    border-radius: 5px;
    border:#fba002 solid 0.5px;
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 5px#fba002  ;
}
p{
    color: #fba002;
    font-size: 24px;
     margin: 5px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     cursor: pointer;

}
button:hover{
    background-color: #fba002;
    color: white;
    box-shadow: 0 0 16px#fba002  ;
    transition: 0.3s;
    transition: transform 0.3s;
    transform:translateX(10px) scale(1.3);
}
p:hover{
    color: #effbb1;
    transition: 0.3s;
    transform: translateY(-30px) scale(1.03);
}

